<form asp-controller="User" asp-action="Logout">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sair do sistema</h5>
            <p class="card-text">Sair do sistema</p>
            <input type="submit" value="yes" class="btn btn-primary" />
            <!--<input type="submit" value="no" class="btn btn-danger" />-->
        </div>
    </div>
</form>